.grid-container {
    display: grid;
    margin: auto;
}

.square {
    border: 1px #494949 solid;
    color: #d8d8d8
}

.tile0 { /* Wall */
    background-color: #686666;
}

.tile1 { /* Road */
    background-color: transparent;
}

.tile2 { /* Start */
    background-color: #bb1919;
}

.tile3 { /* End */
    background-color: #03b40b;
}

.tile4 { /* Visited */
    background-color: #5f5e5f46;
}

.tile5 { /* Path */
    background-color: #5bdf6273;
}

.lock {
    pointer-events: none;
}