* {
    font-family: Raleway;
}

body {
    margin: 0;
    background-color: #28292b;
}

.topbar {
    width: 80vw;
    height: 10vh;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-radius: 5vh;
    background-color: #363638;
    transition: 0.5s;
}

.button-box {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.button-group {
    display: flex;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

.button {
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 5vh;
    height: 5vh;
    display: inline-block;
    opacity: 0.7;
    transition: 0.5s;
    margin: 10px;
}

.button-wall {
    background-image: url('../img/wall.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-road {
    background-image: url('../img/road.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-start {
    background-image: url('../img/start.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-end {
    background-image: url('../img/end.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-play {
    background-image: url('../img/play.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-reset {
    background-image: url('../img/reset.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-cost {
    background-image: url('../img/coin.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button:hover {
    opacity: 1;
}

.size-input {
    width: 4vw;
    height: 3.5vh;
    text-align: center;
    transition: 0.5s;
    font-size: medium;
    margin-left: 1vw;
    border: none;
    border-radius: 4px;
}

.algorithm-box {
    display: flex;
    align-items:center;
}

.algorithm-select-container {
    display: inline-flex;
    align-items:center;
}

.algorithm-select {
    border: none;
    border-radius: 5em;
    padding: 0.5vh;
    font-size: 0.9em;
}

.diagonal-checkbox-container {
    margin-top: 0.2em;
    color: #f1f0f0;
}

.cost-container {
    display: inline-flex;
    align-items:center;
}

.cost-input {
    display: none;
    transition: 0.5s;
    width: 2vw;
    font-size: 0.9em;
}

.hide {
    display: none !important;
}